.blog-box {
  background-image: url("https://i.pinimg.com/originals/ca/45/b9/ca45b98fcc3dc35bc37963cd1a3650b0.gif");
  background-repeat: no-repeat;
  background-position: cover;
  width: 100%;

  height: 80%;
}
img.comeingGif {
  width: 100%;
  height: 21%;
  /* padding: 42px; */
  margin-top: 94px;
}
