.banner-box {
  /* background-image: url("../../../assets/img/banner-bg.png");
  background-repeat: no-repeat;
  background-position: cover; */
  width: 100%;

  height: 80%;
}
.hero-overlay {
  background-color: #1f1f38;
  width: 90%;
}
img.bannerPhoto {
  max-width: 85%;
  height: auto;
  border-radius: 35px;
  margin-left: 15px;
}
@media screen and (max-width: 600px) {
  /* .md\:order-first.order-last.md\:mt-5.w-4\/5 {
    margin-top: 40px;
  } */
  .md\:order-first.order-last.md\:mt-5.w-4\/5 {
    margin: auto;
    margin-top: 20px;
    max-width: 92%;
    height: auto;
    border-radius: 23px;
    margin-left: 25px;
  }
  img.bannerPhoto {
    max-width: 92%;
    height: auto;
    border-radius: 23px;
    margin-left: 25px;
  }
}
