.Typeings {
  font-size: 15px;
  font-weight: bold;
  /* margin-left: 10px; */
  color: red;
}
span.FirstLiter.Typeings {
  font-size: 26px;
  margin-top: 4px;
  padding-right: 7px;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .Typeings {
    font-size: 9px;
    font-weight: bold;

    color: red;
  }
  span.FirstLiter.Typeings {
    font-size: 16px;
    margin-top: 0px;
    padding-right: 9px;
  }
}
