.card.card-compact.w-96.bg-base-100.shadow-xl {
  box-shadow: 0px 0px 18px 0px rgb(4 4 6 / 87%),
    0 8px 10px -6px rgb(0 0 0 / 0.1);

  /* margin-bottom: 18px; */
}
.bordershow {
  box-shadow: 0 -2px 14px 7px rgb(0 0 0), 0 8px 10px -6px rgb(0 0 0);
}
.btn-borders {
  border: 1px solid;
}
a.btn {
  border-bottom: 2px solid #0f9cd4;
}
